.button {
  padding: 12px 20px;
  border-radius: 40px;
  border: 1px solid transparent;
  background:
    linear-gradient($black-color, $black-color) padding-box,
    $gradient-color border-box;

  &:hover {
    background:
      linear-gradient(transparent, transparent) padding-box,
      $gradient-color border-box;
  }
  white-space: nowrap;
}
