.overlay {
  background-color: rgba($color: $black-color, $alpha: 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal {
  position: relative;
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $white-color;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 40px;

  @media (width <= 375px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 80px 20px;
  }
}

.modalTitle {
  color: $black-color;
}

.closeBtn {
  position: absolute;
  top: 35px;
  right: 40px;

  @media (width <= 375px) {
    width: 30px;
    height: 30px;
    top: 76px;
    right: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  border: 1px solid $black-color;
  border-radius: 10px;
  padding: 15px;
  font-weight: 400;
  color: $black-color;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkmark {
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-image: $gradient-color 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark::after {
  content: '';
  width: 18px;
  height: 18px;
  background: url('../../assets/images/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0);
}

.checkbox input:checked + .checkmark {
  background: $gradient-color;
  border: none;
}

.checkbox input:checked + .checkmark::after {
  transform: scale(1);
}

.labelText {
  color: rgba($color: $black-color, $alpha: 0.5);
  font-size: 12px;
  line-height: 130%;
  font-weight: 500;
  text-transform: uppercase;
}

.submitBtn {
  color: $black-color;
  background:
    linear-gradient($white-color, $white-color) padding-box,
    $gradient-color border-box;

  align-self: self-start;
  margin-top: 15px;
}
