.footer {
  width: 100%;
  background: $gradient-color;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 62px 40px;
  max-width: 1440px;
  margin: 0 auto;

  @media (width <= 640px) {
    flex-direction: column;
    padding: 95px 65px;
  }
}

.logo {
  @media (width <= 640px) {
    width: 120px;
    height: 144px;
  }
}

.link {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 110%;
  margin: 0 auto;
  text-align: center;
  color: $white-color;
  transition: color 0.2s;

  &:hover {
    color: rgba($color: $white-color, $alpha: 0.5);
  }

  @media (width <= 640px) {
    font-size: 20px;
  }
}
