$font-path: '../fonts/';
$font-name: 'Inter';
$inter-weights: (
  400: 'Regular',
  500: 'Medium',
  600: 'SemiBold',
);

$black-color: #0f0f17;
$white-color: #ffffff;
$gradient-color: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%);
